@model List<Bill>
@{
    Layout = "__Management";
    double sum = 0;
    double lastM = 0;
    double rating = 0;
    foreach(var bill in Model)
    {
        sum += bill.Price;
    }
}
<div class="bg-light mt-2 align-content-center mb-5 pb-4">
    <h1 class="text-dark">Turnover</h1>
    <div class="col-12 row text-dark">
        <canvas class="col-9 mr-5" id="myChart" style="width:100%;max-width:600px"></canvas>
        <div class="col-3 row">
            <span class="col-12">Turnover: $@sum</span>
            <table class="text-dark border table-bordered col-12">
                <tr>
                    <th>Month</th>
                    <th>Growth rate</th>
                </tr>
                @foreach(var bill in Model)
    {
        sum += bill.Price;
        if (lastM > 0) 
        {
            if (lastM > bill.Price) rating = (int)((lastM / bill.Price) * 100*-1);
            else { rating = (int)((lastM / bill.Price) * 100); }
        }
        <tr>
        <td>@bill.OrderDate.Month</td>
        <td>@rating %</td>
        @{lastM = bill.Price;}
        </tr>
    }
            </table>
        </div>
    </div>
</div>
@section Scripts {
<script> 
        var xValues = [1,2,3,4,5];
        var yValues = [@Model[0].Price,@Model[1].Price,@Model[2].Price,@Model[3].Price,@Model[4].Price];   

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "#eb1616",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 0, max:1000}}],
    }
  }
});
</script>
}